<h1 class="is-size-3"><%= heading %></h1>

<% if tweet.errors.any? %>
  <div id="error_explanation" class="notification is-warning">
    <h2>
      <%= pluralize(tweet.errors.count, "error") %> prohibited
      this tweet from being saved:
    </h2>
    <ul>
      <% tweet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: tweet, local: true do |form| %>
  <div class="field">
    <div class="control">
      <%= form.text_area :body, class:'is-focused textarea',
        placeholder: 'Tweet content, max 140 characters.', autofocus: true %>
    </div>
  </div>
   <div class="field is-grouped">
    <div class="control">
      <%= form.submit submit, class: 'button is-info'%>
    </div>
    <div class="control">
      <%= link_to 'Cancel', cancel_path, class: 'button is-info is-light' %>
    </div>
  </div>
<% end %>
