<% if tweet.errors.any? %>
  <div id="error_explanation" class="notification is-warning">
    <h2>
      <%= pluralize(tweet.errors.count, "error") %> prohibited
      this tweet from being saved:
    </h2>
  <ul>
    <% tweet.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  </div>
<% end %>

<%= form_with model: tweet, local: true do |form| %>
    <div class="control">
      <%= form.text_area :body, class:'is-focused textarea',
      placeholder: 'Focused textarea' %>
    </div>
  <p>
    <%= form.submit submit%>
  </p>
<% end %>