<!DOCTYPE html>
<html>
  <head>
    <title>TwitterClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Twitter exercise</strong> by Alex. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is is for the purpose of code academy training provided by <a href="https://codeacademy.mk/">Code Academy MK</a>.
    </p>
  </div>
</footer>
</html>
